
<div id="content">
  <%=form_for(:user,:url=>{:action=>'create'},:html => {:name=>"new_user", :method => :post, :onclick => "return validate(this);", :multipart => true}) do |f| %>
      <table>
        <tr>
          <td colspan="2" align="right">
             <span id="message" style="color:Red;direction:rtl;">Test</span>
          </td>
        </tr>
        <tr>
          <td align="right">
            Username :
          </td>
          <td >
            <%= f.text_field(:username,:size=>25, :maxlength=>25)%>
          </td>
        </tr>
        <tr>
          <td align="right">
            Password :
          </td>
          <td>
            <%= f.password_field(:password,:size=>25, :maxlength=>25)%>
          </td>
        </tr>
        <tr>
          <td align="right">
            Confirm password :
          </td>
          <td>
            <input type="password" name="cpassword" size="25" maxlength="25" >
          </td>
        </tr>
        <tr>
          <td align="right">
            Email:
          </td>
          <td>
            <%= f.text_field(:email,:size=>30, :maxlength=>50)%>
          </td>
        </tr>
        <tr>
           <td colspan="2" align="right">
            <%= submit_tag("Create user") %>
           </td>
        </tr>
      </table>
  <%end%>
</div>

<div id="sidebar">
  <h3><span id="ctl00_Label2">Menu</span>
  </h3>

  <ul>

    <li><a href="/login/index">Home</a></li>
    <li><a href="/login/sign_up">Sign Up</a></li>
  </ul>

  <h3><span id="ctl00_Label1">Hello! Guest,</span>
  </h3>


</div>